version: '3'
services:
  booker:
    build: .
    tty: true
    volumes:
      - ./:/go/src/booker
    ports:
      - "5010:5010"
    networks:
      - booker_network
  db:
    image: mysql:5.7
    restart: always
    volumes:
      - booker_db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: booker_dev
      MYSQL_USER: booker
      MYSQL_PASSWORD: booker
    ports:
      - "3306:3306"
    networks:
      - booker_network
volumes:
  booker_db:
networks:
  booker_network:
